/* Evita rolagem horizontal */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #9a5d69;
  color: #fff;
  scroll-behavior: smooth;
}

/* Header */
header {
  text-align: center;
  padding: 60px 20px;
  background-color: #9a5d69;
  color: white;
}

header h1 {
  font-size: 2.8em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
  opacity: 0.9;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 60px 0;
  background-color: transparent;
}

/* Cards */
.card {
  position: relative;
  width: 75%;
  max-width: 1000px;
  height: 80vh; /* ajusta altura automaticamente */
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  border: 3px solid #ffb3c1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card .overlay {
  background-color: rgba(0, 0, 0, 0.45);
  padding: 40px;
  border-radius: 12px;
}

.card h2 {
  font-size: 2.2em;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.1em;
  opacity: 0.9;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

/* Footer */
footer {
  background: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 30px 10px;
  font-size: 0.9em;
}

/* Hero Section */
.hero-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9a5d69;
}

/* Imagem inicial */
.hero-image {
  width: 90%;
  max-width: 700px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Responsividade para celulares */
@media (max-width: 600px) {
  .hero-image, .card {
    width: 95%;
    max-width: 100%;
    height: auto;
  }
}
